* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Tahoma, Geneva, Verdana, sans-serif, Helvetica, sans-serif;
  background-color: #CBC3E3;
}

.paragraph {
  display: inline-block;
  margin-left: 20px;
}

.container {
  margin-top: 5px;
  display: flex;
  justify-content: center;
}

/* Style the side navigation */
.sidenav {
  height: 100%;
  width: 150px;
  z-index: 1;
  background-color: grey;
  border: 1px solid black;
  overflow-x: hidden;
  border-radius: 5px;
}

/* Style the content */
#bus-info-container {
  margin-left: 5px;
  padding: 25px;
  max-width: 480px;
  background-color: lightgoldenrodyellow;
  border: 1px solid black;
  border-radius: 5px;
}

#bus-info {
  border-bottom: 1px solid black;
}

.form button, #button-container button {
  color: black;
  text-decoration: none;
  display: block;
  background-color: dodgerblue;
  border: 1px solid black;
  padding: 8px;
  border-radius: 5px;
  box-shadow: 1;
}

.form button:hover, #button-container button:hover {
  background-color: skyblue;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

#create-bus-form input{
  margin: 4px;
}

/* Side navigation links */
.sidenav button {
  color: black;
  font-weight: 600;
  padding: 16px;
  text-decoration: none;
  width: 100%;
  display: block;
  background-color: dodgerblue;
  border: none;
  border-bottom: 1px solid black;
  
}

.sidenav button:hover {
  background-color: skyblue;
}
 
.sidenav .full-bus-button {
  background-color: mediumseagreen;
}

.sidenav .full-bus-button:hover {
  background-color: lightgreen;
}

.sidenav .partial-bus-button {
  background-color: orange;
}

.sidenav .partial-bus-button:hover {
  background-color:  #FFD580;
}

.sidenav .empty-bus-button {
  background-color: tomato;
}

.sidenav .empty-bus-button:hover {
  background-color: rgb(248, 163, 153);
}

/* Checkmark button styles */
.checkmark-button-unselected {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: tomato;
  border: 1px solid black;
  border-radius: 80%;
  position: relative;
  margin-bottom: 2px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.checkmark-button-unselected:hover {
  background-color: rgb(248, 163, 153);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.checkmark-button-selected {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: mediumseagreen;
  border: 1px solid black;
  border-radius: 80%;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.checkmark-button-selected:hover {
  background-color: lightgreen;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}