* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Tahoma, Geneva, Verdana, sans-serif, Helvetica, sans-serif;
}

/* Style the side navigation */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: darkgrey;
  overflow-x: hidden;
}

/* Side navigation links */
.sidenav button {
  color: black;
  font-weight: bold;
  padding: 16px;
  text-decoration: none;
  width: 100%;
  display: block;
  background-color: #4285f4;
}
 
.sidenav .full-bus-button {
  background-color: #34A853;
}

.sidenav .partial-bus-button {
  background-color: #fbbc05;
}

.sidenav .empty-bus-button {
  background-color: #ea4335;
}

/* Style the content */
.content {
  margin-left: 200px;
  padding-left: 20px;
}